<!DOCTYPE html>
<html>
  <head>
    <title>alfa_fw_upgrader</title>
    <link rel="stylesheet" href="style.css">
    
    <!-- Include eel.js - note this file doesn't exist in the 'web' directory -->
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript">
      var hex_available = false;
      var board_initialized = false;
      var processing = false;
      var strategy = "simple";

      eel.expose(say_hello_js); // Expose this function to Python
      function say_hello_js(x) {
        console.log("Hello from " + x);
      }

      eel.expose(is_hex_available_js); // Expose this function to Python
      function is_hex_available_js(x) {
        console.log("is_hex_available_js? " + x);
        hex_available = x;
        set_enable_buttons();
      }

      eel.expose(is_board_initialized_js); // Expose this function to Python
      function is_board_initialized_js(x) {
        console.log("is_board_initialized_js? " + x);
        board_initialized = x;
        set_enable_buttons();
      }

      function set_enable_buttons() {
         var enabled_ids = [];
         if (!processing) {
             enabled_ids.push('btn-load');
             enabled_ids.push('btn-init');
             if (board_initialized) {
                if (hex_available) {
                  enabled_ids.push('btn-program');
                  enabled_ids.push('btn-verify');
                  enabled_ids.push('btn-program-and-verify');
                }
                enabled_ids.push('btn-info');
             } 
         }
         const all_btns = ['btn-program', 'btn-verify', 'btn-info', 
           'btn-init', 'btn-program-and-verify', 'btn-load'];

         all_btns.forEach(function(item){
             var el = document.getElementById(item);
             if (!enabled_ids.includes(item)) {
                    el.className = "disabled";
             } else { 
                    el.className = "";
             }
         });   
         
         var el = document.getElementById('btn-init');
         el.innerHTML = board_initialized ? "Disconnect" : "Connect";
                    
      }

      eel.expose(start_process_js); // Expose this function to Python
      function start_process_js(x) {
        console.log("Starting process");
        document.getElementById('success-box').style.display = "none";
        document.getElementById('failure-box').style.display = "none";
        document.getElementById('processing-box').style.display = "block";
        processing = true;
        set_enable_buttons();
      }
      
      eel.expose(stop_process_js); // Expose this function to Python
      function stop_process_js(x) {
        console.log("Stopping process ", x);
        document.getElementById('processing-box').style.display = "none";
        if (x.success) {
            document.getElementById('success-box').style.display = "block";
            document.getElementById('failure-box').style.display = "none";
            document.getElementById('success-message').innerHTML = x.output;
        } else {
            document.getElementById('success-box').style.display = "none";
            document.getElementById('failure-box').style.display = "block";
            document.getElementById('failure-message').innerHTML = x.output;            
        }
        processing = false;
        set_enable_buttons();
      }
      
      function load_file() {
        var inputField = document.getElementById('file_input');
        var selectedFiles = inputField.files;

        for(var i=0; i<selectedFiles.length; i++) {
            var file = selectedFiles[i];
            loadAsText(file); 
        }
      }
    
      function loadAsText(theFile) {
        var reader = new FileReader();

        reader.onload = function(loadedEvent) {
            // result contains loaded file.
            var file_content = loadedEvent.target.result;
            eel.process_file(file_content);
        }
        reader.readAsText(theFile);
      } 

      function set_strategy(mode) {
        var btn, box;
        
        const all_btns = ['btn-strategy-simple', 'btn-strategy-polling',
         'btn-strategy-serial'];

        const all_boxes = ['box-strategy-serial'];
         
        if (mode == "simple") {
           btn = "btn-strategy-simple";
           strategy = "simple";
        } else if (mode == "polling") {
           btn = "btn-strategy-polling";
           strategy = "polling";           
        } else {
           btn = "btn-strategy-serial";
           box = "box-strategy-serial";
           strategy = "serial";
        }
        
        all_btns.forEach(function(item){
             var el = document.getElementById(item);
             if (btn == item)
                el.className = "pressed";
             else
                el.className = "";
        });            
        all_boxes.forEach(function(item){
             var el = document.getElementById(item);
             if (box == item)
                el.style.display = "block";
             else
                el.style.display = "none";
        });
      }
      

      function html_init() {
        is_hex_available_js(false);      
        document.getElementById('success-box').style.display = "none";
        document.getElementById('failure-box').style.display = "none";
        document.getElementById('processing-box').style.display = "none";
        set_strategy("simple");
        eel.say_hello_py("Javascript World!");
      }

      function process(action) {
        var dict = {
            "action": action,
            "device_id": document.getElementById("device-id").value,
            "serial_port": document.getElementById("serial-port").value,
            "strategy": strategy
        };
        eel.process(dict);
      }
    
    
    
    </script>
  </head>


  <body onload="html_init();">
  <div class="box">
      <div class="navigation">
       <div>
         <div class="title">
           SETUP
         </div>
         <div>Mode:</div>
         <div class="navigation">
           <a href="#" id="btn-strategy-simple" onclick="set_strategy('simple');">Simple</a>
           <a href="#" id="btn-strategy-polling" onclick="set_strategy('polling');">Polling</a>
           <a href="#" id="btn-strategy-serial"  onclick="set_strategy('serial');">Serial</a>
         </div>         
         <div>
           Device ID:
           <input type="text" id="device-id" name="device-id" value="255">
         </div>
         <div id="box-strategy-serial">
           Serial port device:
           <input type="text" id="serial-port" value="/dev/ttyUSB0">
         </div>
         <div>
           <a href="#" id="btn-init" onclick="process('connect-disconnect');">Connect</a>
         </div>
       </div>
       <div>
         <div class="title">
           HEX FILE
         </div>
         <div class="navigation">
           <input type="file" id="file_input" style="width:200px;overflow: hidden;">
           <a id="btn-load" onclick="load_file();">Load</a>
         </div>         
       </div>
      </div>
      <div>
         <div class="title">
           OPERATIONS
         </div>  
         <div class="navigation">
           <a href="#" id="btn-info" onclick="process('info');">Get Info</a>
           <a href="#" id="btn-program" onclick="process('program');">Program</a>
           <a href="#" id="btn-verify"  onclick="process('verify');">Verify</a>
           <a href="#" id="btn-program-and-verify" onclick="process('program_and_verify');">
             Program&amp;Verify
           </a>
         </div>
      </div>
      
      <div>
         <div class="title">
           STATUS &amp; OUTPUT
         </div>  
         <div style="background-color: lightgreen;" id="success-box">
           <h4>Success</h4>
           <div id="success-message" class="message"></div>
         </div>
         <div style="background-color: tomato;" id="failure-box">
           <h4>Failure</h4>
           <div id="failure-message" class="message"></div>
         </div>
         <div style="background-color: lightgrey;" id="processing-box">
           <h4>Processing</h4>
         </div>

      </div>      
    </div>
  
  </body>

</html>

